
<p-toast position="top-center" key="myKey1" (onClose)="onReject()"  [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
        <!-- <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i> -->
        <h3>{{message.summary}}</h3>
        <p>{{message.detail}}</p>
        </div>
        <!-- <div class="ui-g ui-fluid"> -->
        <!-- <div class="ui-g-6"> -->
            <!-- <button type="button" pButton (click)="onReject()" label="Close" class="ui-button-secondary"></button> -->
        <!-- </div> -->
        <!-- </div> -->
    </ng-template>
</p-toast>
  
<div data-aos="fade-right">
    <p-accordion (onOpen)="onTabOpen($event)">
        <p-accordionTab>
            <ng-template pTemplate="header">
              <div style="color: #3804a0;">IF Function</div>
            </ng-template>
            <ng-template pTemplate="content">
              <div class="accordion-body">
                  <h2>Summary</h2>
                  <p>The IF function runs a logical test and returns one value for a TRUE result, and another for a FALSE result. For example, to "pass" scores above 70: =IF(A1>70,"Pass","Fail"). More than one condition can be tested by nesting IF functions. The IF function can be combined with logical functions like AND and OR to extend the logical test.</p>
                  <h2>Purpose</h2>
                  <p>Test for a specific condition</p>
                  <h2>Return value </h2>
                  <p>The values you supply for TRUE or FALSE</p>
                  <h2>Syntax</h2>
  
                  <h3 class="function-prototype">
                      =
                      <span class="function-name">IF</span>
                      <span class="bracket">(</span>
                      <span class="required-parameter">logical_test</span>,                      
                      [value_if_true],
                      [value_if_false]
                      <span class="bracket">)</span>
                  </h3>
                  <h2>Arguments </h2>
                  <dl>
                      <dt>logical_test</dt>
                      <dd>-A value or logical expression that can be evaluated as TRUE or FALSE.</dd>
                      <dt>value_if_true</dt>
                      <dd>- [optional] The value to return when logical_test evaluates to TRUE.</dd>
                      <dt>value_if_false </dt>
                      <dd>- [optional] The value to return when logical_test evaluates to FALSE.</dd>
                      
  
                  </dl>
              </div>
            </ng-template>
          </p-accordionTab>

          <p-accordionTab>
            <ng-template pTemplate="header">
              <div style="color: #3804a0;">COUNTIF Function</div>
            </ng-template>
            <ng-template pTemplate="content">
              <div class="accordion-body">
                  <h2>Summary</h2>
                  <p>COUNTIF is an Excel function to count cells in a range that meet a single condition. COUNTIF can be used to count cells that contain dates, numbers, and text. The criteria used in COUNTIF supports logical operators (>,<,<>,=) and wildcards (*,?) for partial matching.</p>
                  <h2>Purpose</h2>
                  <p>Count cells that match criteria</p>
                  <h2>Return value </h2>
                  <p>A number representing cells counted.</p>
                  <h2>Syntax</h2>
  
                  <h3 class="function-prototype">
                      =
                      <span class="function-name">COUNTIF</span>
                      <span class="bracket">(</span>
                      <span class="required-parameter">range</span>,                      
                      <span class="required-parameter">criteria</span>             
                      <span class="bracket">)</span>
                  </h3>
                  <h2>Arguments </h2>
                  <dl>
                      <dt>range</dt>
                      <dd>-The range of cells to count.</dd>
                      <dt>criteria </dt>
                      <dd>- The criteria that controls which cells should be counted.</dd>                                    
                  </dl>
              </div>
            </ng-template>
          </p-accordionTab>
    </p-accordion>
</div>