.page{
  color: white;
  background: #121212;
  &__box{
    min-height: 100px;
    background: #121212;
    margin: 0 -3rem;
    font-size: 24px;
  }
  &__content{
    min-height: calc(100vh - 160px);
    border-radius: 10px;
    margin-top: -3rem;
    background:  rgb(118, 118, 121);
    border:2px solid white;
    color: black;
    font-size: 20px;
    &-data{
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}
::ng-deep .mat-form-field {
  .mat-input-element {
      color: rgb(8, 8, 8);
      font-size: medium;
  }
  .mat-form-field-label {
      color: rgb(10, 10, 10);
      font-family: "Lucida Console", "Courier New", monospace;
      font-size: medium;
  }
  .mat-form-field-underline {
      background-color: rgb(4, 32, 59);
  }
  .mat-form-field-ripple {
      background-color: slategray;
  }
  .mat-form-field-required-marker {
      color: rgb(190, 21, 9);
  }

  
}


::ng-deep .mat-step-header  {
  border-radius: 32px;
  width: 20%;
  font-weight: 10px;
  opacity: 1.0;
  height: 50px;
  & div.mat-step-label.mat-step-label-active.mat-step-label {
      color: rgb(3, 3, 3);
  }
  
} 
::ng-deep .mat-step-header[aria-selected="true"]  {
  background-color: #43b2ee;
  border-radius: 32px;
  width: 20%;
  font-weight: 10px;
  opacity: 1.0;
  height: 50px;
  & div.mat-step-label.mat-step-label-active.mat-step-label-selected {
      color: rgb(3, 3, 3);
  }
  
} 
::ng-deep .mat-step-header .mat-step-icon {
  background-color: rgb(245, 32, 9); 
  
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: rgb(8, 170, 30); 
}
mat-form-field{
  margin-bottom: -1.50em
}
/* ::ng-deep .mat-horizontal-stepper-header {
  box-sizing: border-box;
  color: #555555;
  flex-direction: column-reverse !important;
  height: auto;
  padding: 24px;
} */
/* ::ng-deep .mat-step-header  {
  background-color: #00A9CE;;
  border-radius: 20px;
  width: 50%;
  font-weight: 5px;
  color: #040404;
} */
.p-input-icon-left,
.p-input-icon-right{
  float: right;
}
span .p-input-icon-left input[type="text"]{
  padding:0px 25px;
}
:host{
  color: #1e293b;
}
table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.ui-steps .ui-steps-item {
  width: 25%;
}

.ui-steps.steps-custom {
  margin-bottom: 30px;
}

.ui-steps.steps-custom .ui-steps-item .ui-menuitem-link {
  padding: 0 1em;
  overflow: visible;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-number {
  background-color: #0081c2;
  color: #FFFFFF;
  display: inline-block;
  width: 36px;
  border-radius: 50%;
  margin-top: -14px;
  margin-bottom: 10px;
}

.ui-steps.steps-custom .ui-steps-item .ui-steps-title {
  color: #555555;
}

.ng-select.custom ::ng-deep .ng-select-container  {
  min-height: 50px;
  border-radius: 0;
}
.p-datatable .p-datatable-tbody > tr > td{
  padding: 0rem !important;
}
bg{
  background-image: linear-gradient(to right, rgba(146, 127, 127, 0.522) , rgba(85, 85, 72, 0.481));
}