.page{
  color: white;
  background: #121212;
  &__box{
    min-height: 100px;
    background: #121212;
    margin: 0 -3rem;
    font-size: 24px;
  }
  &__content{
    min-height: calc(100vh - 160px);
    border-radius: 10px;
    margin-top: -3rem;
    background:  rgb(118, 118, 121);
    border:2px solid white;
    color: black;
    font-size: 20px;
    &-data{
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}
::ng-deep .mat-form-field {
  .mat-input-element {
      color: rgb(8, 8, 8);
      font-size: medium;
      font-family: 'Roboto', sans-serif;
  }
  .mat-form-field-label {
      color: rgb(10, 10, 10);
      font-family: 'Roboto', sans-serif;
      font-size: medium;
  }
  .mat-form-field-underline {
      background-color: rgb(4, 32, 59);
  }
  .mat-form-field-ripple {
      background-color: slategray;
  }
  .mat-form-field-required-marker {
      color: rgb(190, 21, 9);
  } 
}
mat-form-field{
  margin-bottom: -1em
}
.p-input-icon-left,
.p-input-icon-right{
  float: right;
}
span .p-input-icon-left input[type="text"]{
  padding:0px 25px;
}
.text-on-pannel {
  background: #fff none repeat scroll 0 0;
  height: auto;
  margin-left: 20px;
  padding: 3px 5px;
  position: absolute;
  margin-top: -47px;
  border: 1px solid #337ab7;
  border-radius: 8px;
}

.panel {
  /* for text on pannel */
  margin-top: 27px !important;
}

.panel-body {
  padding-top: 30px !important;
}
.bg{
  background-image: linear-gradient(to right, rgba(146, 127, 127, 0.522) , rgba(85, 85, 72, 0.481));
}
/* .course-form{
  min-height: 50vh;
  min-width:50vh;
  background-color:
  rgb(80, 78, 78);
  background-image: linear-gradient(to right, rgb(61, 58, 58) , rgb(147, 147, 145));
  border-radius: 25px 25px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
} */
.p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  padding: 0px 0px;
}
