<div class="d-flex flex-row bd-highlight mb-3">
  <div>
    <div class="card" style="background-color: #d9d8d8;" data-aos="fade-left" data-aos-duration="4000">
      <img src="assets/tutorial/flipflop/nor-based-clocked-jk-flip-flop.svg" style="margin-left: 10px; width: 40vw;" class="card-img-top filter-black" alt="...">
      <div class="card-body">
        <p class="card-text text-black">
          Flip Flop is a memory element which is capable of storing one bit of information and it is used in clocked sequential circuits.
        </p>
      </div>
    </div>
  </div>
  <div>
    <div class="card" style="background-color: #d9d8d8;" data-aos="fade-left" data-aos-duration="4000">
      <img src="assets/tutorial/flipflop/nor-based-clocked-jk-flip-flop-table.svg" style="margin-left: 10px; width: 40vw;" class="card-img-top filter-black" alt="...">
      <div class="card-body">
        <p class="card-text text-black">
          Flip Flop is a memory element which is capable of storing one bit of information and it is used in clocked sequential circuits.
        </p>
      </div>
    </div>
  </div>
</div>

