<div class="d-flex">
  <div  class=" col-8">
    <form action=""  [formGroup]="studentQueryForm">
      <h1>Abouts</h1>
      <div class="grid p-fluid">
        <div class="col-12 md:col-4">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText placeholder="Username" formControlName="studentName">
          </div>
        </div>
        <div class="col-12 md:col-4 ">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="bi bi-house-heart-fill"></i></span>
            <input type="text" pInputText placeholder="Address" formControlName="address">
          </div>
        </div>
        <div class="col-12 md:col-4 ">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="bi bi-bank"></i></span>
            <input type="text" pInputText placeholder="Educational Institution" formControlName="educationalInstitution">
          </div>
        </div>
      </div>

      <div class="grid p-fluid mt-3">
        <div class="col-12 md:col-4">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="bi bi-person-heart"></i></span>
            <input type="text" pInputText placeholder="Father's Name" formControlName="fatherName">
          </div>
        </div>
        <div class="col-12 md:col-4 ">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="bi bi-person-heart"></i></span>
            <input type="text" pInputText placeholder="Mother's Name" formControlName="motherName">
          </div>
        </div>
        <div class="col-12 md:col-4 ">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="bi bi-person-check"></i></span>
            <input type="text" pInputText placeholder="Guardian's Name" formControlName="guardianName">
          </div>
        </div>
      </div>

      <div class="grid p-fluid mt-3">
        <div class="col-12 md:col-4">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="bi bi-people-fill"></i></span>
            <input type="text" pInputText placeholder="Relation with Guardian" formControlName="relationToGuardian">
          </div>
        </div>

        <div class="col-12 md:col-4 ">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="bi bi-telephone-plus"></i></span>
            <input type="text" pInputText placeholder="Mobile" formControlName="phoneNumber">
          </div>
        </div>
      </div>
      <h1>Query</h1>
<!--      <div class="grid p-fluid">-->
<!--        <div class="col-12 md:col-4">-->
<!--          <div class="p-inputgroup">-->
<!--            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>-->
<!--            <input type="text" pInputText placeholder="Username">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
      <div class="grid p-fluid">
        <div class="col-12 md:col-4">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="bi bi-question-circle"></i></span>
            <textarea pInputTextarea placeholder="Query" formControlName="query"></textarea>
          </div>
        </div>
      </div>


    </form>
    <button (click)="saveQuery()">Save</button>



  </div>
  <div  class=" col-4">hhhhh</div>
</div>
