<mat-nav-list>
  <div class="logo py-4">
    <img src="assets/eduvenv_round.svg" alt="Company Logo" class="eduvenv"/>
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">W E L C O M E</h2>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon>home</mat-icon> Home
  </a>



  <a mat-list-item routerLink="/courseContent" routerLinkActive="list-item-active">
    <mat-icon>fiber_manual_record</mat-icon> Course Content
  </a>
  <a mat-list-item routerLink="/StudentQuery" routerLinkActive="list-item-active">
    <mat-icon>fiber_manual_record</mat-icon> Student Query
  </a>
</mat-nav-list>
