#description{
  padding: 7px;
  border: 1px solid #2c3344;
  background-image: linear-gradient(to right, rgba(222, 203, 164, 0.2), rgba(62, 81, 81, 0.3));
  border-radius: 20px;
  min-height: 30vh;
  white-space: pre-line;
  //height: 300px;
  //width: 500px;
  //background-image: url("/assets/img/diary1.jpg");
  //background-size: cover;
}



