<div class="d-flex">
  <div class="col-3 " style="background-color: #1e293b;">
<!--    <div class="d-flex">-->
<!--      <div class="content-list">Microsoft Word</div>-->
<!--      <div class="content-list">Microsoft Excel</div>-->
<!--      <div class="content-list">Microsoft Powerpoint</div>-->
<!--    </div>-->
<!--    <div class="d-flex">-->
<!--      <div class="content-list">C language</div>-->
<!--      <div class="content-list">JAVA</div>-->
<!--      <div class="content-list">Angular js</div>-->
<!--    </div>-->
<!--    <div class="d-flex">-->
<!--      <div class="content-list">Python</div>-->
<!--    </div>-->

    <p-panelMenu [transitionOptions]="'300ms'" [model]="items" [style]="{'width':'300px'}"></p-panelMenu>

<!--      <ul style="list-style: none;" data-aos="fade-left" data-aos-duration="4000">-->
<!--        <li class="m-2"><button pButton type="button"  class="content-list text-left"> Microsoft Word <span class='bi bi-file-word-fill'></span></button></li>-->
<!--        <li class="m-2">-->
<!--          <button pButton type="button" routerLink="./CourseContentExcel" class="content-list text-left">-->
<!--          Microsoft Excel <span class='bi bi-file-excel-fill'></span>-->
<!--        </button>-->
<!--        </li>-->
<!--        <li class="m-2"><button pButton type="button" label="Microsoft Powerpoint" class="content-list text-left"></button></li>-->
<!--        <li class="m-2">-->
<!--          <button pButton type="button" class="content-list text-left">JAVA <i class="bi bi-filetype-java"></i></button>-->
<!--        </li>-->
<!--        <li class="m-2"><button pButton type="button" label="Angular js" class="content-list text-left"></button></li>-->
<!--        <li class="m-2"><button pButton type="button" label="Python" class="content-list text-left"></button></li>-->
<!--      </ul>-->
  </div>
  <div class="col-9" style="background-color: #1e293b;">
    <router-outlet></router-outlet>
  </div>
</div>
