#description{
  padding: 7px;
  border: 1px solid #2c3344;
  // background-image: linear-gradient(to right, rgba(222, 203, 164, 0.2), rgba(62, 81, 81, 0.3));
  background-image: url("/assets/gallery/mams_day/lt1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  font-style: bold;
  min-height: 50vh;
  white-space: pre-line;
  color: #2c3344 !important;
  //height: 300px;
  //width: 500px;
  //background-image: url("/assets/img/diary1.jpg");
  //background-size: cover;
}


