<div class="d-flex flex-column" style="height: 90vh;">
  <div class="p-2 text-center" style="background-color: rgb(77, 68, 68)">I am Header, i will stay here</div>
  testing

  <div class="p-2" id="canvas">
    <div class="container-fluid rounded d-flex flex-xl-row justify-content-xl-between flex-row">
      <!-- Left -->
      <div class="p-2 col-xl-4" style="background-color: rgb(199, 192, 192)">
        <app-text-carousel></app-text-carousel>
      </div>
      <!-- Right -->
      <div class="bloc_2 p-2 col-xl-8" style="background-color: antiquewhite">
        <!-- Gallery -->
        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img
              src="assets/gallery/mams_day/pic_single.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Boat on Calm Water"
            />

            <img
              src="assets/gallery/mams_day/pic2.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Wintry Mountain Landscape"
            />
          </div>

          <div class="col-lg-4 mb-4 mb-lg-0">
            <img
              src="assets/gallery/mams_day/pic3.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Mountains in the Clouds"
            />

            <img
              src="assets/gallery/mams_day/pic_single2.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Boat on Calm Water"
            />
          </div>

          <div class="col-lg-4 mb-4 mb-lg-0">
            <img
              src="assets/gallery/mams_day/pic57.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Waves at Sea"
            />

            <img
              src="assets/gallery/mams_day/pic42.jpg"
              class="w-100 shadow-1-strong rounded mb-4"
              alt="Yosemite National Park"
            />
          </div>
        </div>
        <!-- Gallery -->
      </div>
    </div>

  </div>
  <!--    Footer area-->
  <div class="mt-auto p-2 text-center" style="background-color: rgb(77, 68, 68)">I am footer, i will stay here</div>
</div>



