.page{
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
    &__box{
      min-height: 100px;
      background: #1e293b;
      margin: 0 -1rem;
      font-size: 36px;
    }
    &__content{
      min-height: calc(100vh - 160px);
      border-radius: 10px;
      margin-top: -3rem;
      background: white;
      color: black;
      font-size: 20px;
      &-data{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }
  .text-on-pannel {
    background: #fff none repeat scroll 0 0;
    height: auto;
    margin-left: 20px;
    padding: 3px 5px;
    position: absolute;
    margin-top: -47px;
    border: 1px solid #337ab7;
    border-radius: 8px;
  }
  mat-form-field{
    margin-bottom: -1em
  }
  ::ng-deep .mat-form-field {
    .mat-input-element {
        color: rgb(8, 8, 8);
        font-size: medium;
    }
    .mat-form-field-label {
        color: rgb(10, 10, 10);
        
        font-size: medium;
    }
    .mat-form-field-underline {
        background-color: rgb(4, 32, 59);
    }
    .mat-form-field-ripple {
        background-color: slategray;
    }
    .mat-form-field-required-marker {
        color: rgb(190, 21, 9);
    }
  
    
  }
  .panel {
    /* for text on pannel */
    margin-top: 27px !important;
  }
  
  .panel-body {
    padding-top: 30px !important;
  }
  .transaction-master-form{
    /*min-height: 50vh;
    min-width:100vh;*/
    font-size: large;
    background-color:white;

   /*  background-image: linear-gradient(to right, rgb(114, 110, 110) , rgb(255, 255, 250));
    border-radius: 25px 25px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777; */
    box-shadow: 0 10px 6px -6px #777;
  }
  .transaction-details-form{
    min-height: 10vh;
    min-width:70vh;
    font-size:medium;
    /* background-color:
    rgb(207, 202, 202);
    background-image: linear-gradient(to right, rgb(114, 110, 110) , rgb(255, 255, 250));
    border-radius: 25px 25px;*/
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
  }

  .btn-space {
    margin-right: 5px;
}
