<h2 mat-dialog-title>Last Transaction Details</h2>
<div class="card" style="background-color:  rgb(254, 248, 248) !important;">
<div mat-dialog-content >
   
    <table class="table table-hover" >
        <tr>
            <th>Student Name</th>
            <th>Transaction Date</th>
             <th>Paid Amount</th>
            <th>comment</th>
          
        </tr>
        <tr *ngFor="let item of data">
            <td>{{ item.ledger_name }}</td>
            <td>{{ item.transaction_date | date: 'dd/MM/yyyy' }}</td>
            <td>{{ item.amount }}</td>
            <td>{{ item.comment }}</td>
           
        </tr> 
      </table>
</div>
</div>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
    
  </mat-dialog-actions>