<div class="container-fluid page">
  <div class="page__box p-3  mt-0">
    <h1 style="color: darkblue; font-size: 30px; margin-top: -10px;"> <i class="bi-speedometer2"
        style="font-size: 40px; color: darkblue;"></i>&nbsp; Dashboard</h1>
  </div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-relative">
      <div class="container" style="margin-top: 780px; margin-left: 0px;">
        <!-- //------ start Dashboard codeing------ 
        <div class="container py-5" style="margin-top: 120px; background-color: rgb(190, 192, 195); width:100%">-->
        <div class="row" style="margin-top:-70px;">
          <div class="col">

            <!--  <h1 style="color: darkblue; font-size: 30px;"> <i class="bi-speedometer2"
                  style="font-size: 40px; color: darkblue;"></i>&nbsp; Dashboard</h1> -->
            <div
              style="border:3px dotted red ;padding: 10px;border-radius: 22px; margin-bottom: 0px; background-color: rgb(244, 201, 75); font-size: 20px; text-shadow: 2rem; float: left;"
              *ngIf="showMessage">
              <marquee>
                {{workingDescription}} &nbsp; ** &nbsp; ** &nbsp; {{workingDescription}}&nbsp; ** &nbsp; ** &nbsp;
                {{workingDescription}}
              </marquee>
            </div>
            <div
              style="border:3px dotted red ;padding: 10px;border-radius: 22px; margin-bottom: 0px; background-color: rgb(249, 248, 246); font-size: 20px; text-shadow: 2rem; text-align: center;"
              *ngIf="showMessage">
              <b>{{dateDifference}}</b> Days Left
            </div>

          </div>

        </div>

        <!-- <div style="background-color: rgb(250, 251, 252); padding: 50px; margin-top: 0px; border-radius: 20px;"> -->
        <!--------------------------->

        <!-------------------------------------------->
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 p-2">

            <div class="card p-3 shadow text-center border-0"
              style="background-image: linear-gradient(to right, rgb(7, 117, 142) , rgb(32, 227, 231)); ;color: aliceblue;">
              <div class="card-body">
                <i class="bi bi-person-circle mr-1" style="font-size: 30px"></i>
                <div style="font-size: 15px; font-weight: bold;">&nbsp; Active Student</div>
                <hr />
                <p class="card-title lead">{{totalNoActiveStudent}}</p>
              </div>
            </div>

          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 p-2">

            <div class="card p-3 shadow text-center border-0"
              style="background-image: linear-gradient(to right, rgb(212, 101, 11) , rgb(236, 209, 29)); ;color: aliceblue;">
              <div class="card-body">
                <i class="bi-journal-bookmark" style="font-size: 30px"></i>
                <div style="font-size: 15px; font-weight: bold;">&nbsp; Active Course</div>
                <hr />
                <p class="card-title lead">{{totalNoCourse}}</p>
              </div>
            </div>

          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 p-2">

            <div class="card p-3 shadow text-center border-0"
              style="background-image: linear-gradient(to right, rgb(9, 88, 4) , rgb(50, 233, 111)); ;color: aliceblue;">
              <div class="card-body">
                <i class="bi-wallet2" style="font-size: 30px"> </i>
                <div style="font-size: 15px; font-weight: bold;">&nbsp; Cash Received (Yr)</div>
                <hr />
                <p class="card-title lead"><b>{{totalYearlyCash | currency:'INR'}}</b></p>
              </div>
            </div>

          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 p-2">

            <div class="card p-3 shadow text-center border-0"
              style="background-image: linear-gradient(to right, rgb(65, 4, 75) , rgb(215, 73, 210)); ;color: aliceblue;">
              <div class="card-body">
                <i class="bi-bank2" style="font-size: 30px"></i>
                <div style="font-size: 15px; font-weight: bold;">&nbsp; Bank Received (Yr)</div>
                <hr />
                <p class="card-title lead"><b>{{totalYearlyBank | currency:'INR'}}</b></p>
              </div>
            </div>

          </div>
          <div class="col-lg-4 ">
            <!-- Example Notifications Card-->
            <div class="card mb-3 shadow" style="height:25vh ;">
              <div class="card-header"
                style="background-image: linear-gradient(to bottom right, rgb(8, 2, 68), rgb(7, 32, 146)); color: aliceblue; border-radius: 5px; font-size: large;">
                <i class="bi bi-bell-fill"></i> Upcoming Birthday
              </div>
              <div class="list-group list-group-flush" style="font-size:small ;">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">What's No</th>
                      <th scope="col">DOB</th>
                      <th scope="col">Day Left</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of birthdayArray; let indexOfelement=index;">
                      <th scope="row">{{indexOfelement+1}}</th>
                      <td>{{item.ledger_name}}</td>
                      <td>{{item.whatsapp_number}}</td>
                      <td>{{item.dob | date: 'dd/MM/yyyy'}}</td>
                      <td>{{item.PandingDays}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-lg-8 shadow" style="color:rgb(251, 250, 250); ">
            <!-- Example Bar Chart Card-->
            <mat-tab-group (selectedIndexChange)="onTabChanged($event)" [(selectedIndex)]="selectedIndex"
              animationDuration="200ms">
              <mat-tab>
                <ng-template mat-tab-label>
                  <i class="bi bi-bar-chart-fill"></i> &nbsp;
                  Monthly Income
                </ng-template>
                <div class="card mb-3">
                  <!-- <div class="card-header" style="color:black ;">
                          <i class="bi bi-bar-chart-fill"></i> Bar Chart Example
                        </div> -->
                  <div class="card-body">

                    <div style="display: block;">
                      <canvas baseChart width="700" height="250" [type]="'line'" [data]="lineChartData"
                        [options]="lineChartOptions" [legend]="lineChartLegend">
                      </canvas>
                    </div>

                  </div>

                </div>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon">list</mat-icon>
                  Admission No
                </ng-template>
                <div class="card mb-3">
                  <div class="card-header">
                    <i class="fa fa-bar-chart"></i> Bar Chart Example
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-8 my-auto">
                        <canvas id="myBarChart" width="100" height="50"></canvas>
                      </div>
                      <div class="col-sm-4 text-center my-auto">
                        <div class="h4 mb-0 text-primary">$34,693</div>
                        <div class="small text-muted">YTD Revenue</div>
                        <hr>
                        <div class="h4 mb-0 text-warning">$18,474</div>
                        <div class="small text-muted">YTD Expenses</div>
                        <hr>
                        <div class="h4 mb-0 text-success">$16,219</div>
                        <div class="small text-muted">YTD Margin</div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                </div>
              </mat-tab>

              <mat-tab>
                <ng-template mat-tab-label>
                  <mat-icon class="example-tab-icon">thumb_up</mat-icon>
                  Upcoming Birthday
                </ng-template>

                 <!-------------------------------start show Receipt bill voucher------------------------------------- -->
                 <div class="container" *ngIf="showReceipt" style="font-size:medium; background-color: white; color: black;">
                  <div id="print-AllReceiptBill">
                    <div style="border: 2px dotted rgb(1, 1, 19);">
                      <div class="row">
                        <div class="col-2 ">
                          <img src="assets/img/baitLogo.png" width="100px" alt="AdminLTE Logo" style="opacity: .8">
                        </div>
                        <div class="col-10" align="center">

                          <p style="margin-bottom: 0 ;margin-top: 0 ; font-size: large; font-family: 'Cooper Black';">
                            Barrackpore Academy Of Information Technology</p>
                          <p style="margin-bottom: 0 ;margin-top: 0 ; font-size: medium;">Stalin Nagar, Barrackpore,
                            Chiramore, Pin:700120</p>
                          <p style="margin-bottom: 0 ;margin-top: 0 ; font-size: medium;">
                            E-mail;barrackporeacademyofit2014@gmail.com | Contact: 7605887990</p>

                          <hr style="height:2px;border-width:0;color:gray;background-color:gray">
                        </div>

                      </div>

                    </div>
                    <div class="row">
                      <div class="col-7 " style="font-size:medium;">
                        <table>
                          <tr>
                            <td>Student Name</td>
                            <td>:</td>
                            <th>{{allBillReceiptArray[0].student_name}}</th>
                          </tr>
                          <tr>
                            <td>Contact No</td>
                            <td>:</td>
                            <th>{{allBillReceiptArray[0].whatsapp_number}}</th>
                          </tr>
                          <tr>
                            <td>Course Name</td>
                            <td>:</td>
                            <th>{{allBillReceiptArray[0].full_name}}</th>
                          </tr>
                        </table>
                      </div>
                      <div class="col-5 " style="font-size:medium;">
                        <table>
                          <tr>
                            <td>Total Course Fees</td>
                            <td>:</td>
                            <th>{{allBillReceiptArray[0].total_course_fees | currency: 'INR'}}</th>
                          </tr>

                        </table>
                      </div>
                      <div class="row">
                        <div class="col-md text-center">
                          <table style="border-collapse: collapse; width: 100%; margin:0 auto; font-size:medium;">
                            <thead>
                              <tr
                                style="border-top: 3px dotted rgb(1, 1, 19);border-bottom: 3px dotted rgb(116, 114, 114);background-color:rgb(196, 190, 190);padding: 0.5;">
                                <th>Sl No</th>
                                <th>Date</th>
                                <th>Receipt No</th>
                                <th>Fees Name</th>
                                <th class="text-right">Amount</th>
                                <th>Comments</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let receipt of allBillReceiptArray; let i = index">

                                <td>{{i+1}}</td>
                                <td>{{receipt.transaction_date | date:'dd/MM/yyyy'}}</td>
                                <td>{{receipt.transaction_number }}</td>
                                <td>{{receipt.ledger_name}}</td>
                                <td class="text-right">{{receipt.temp_total_received | currency: 'INR'}}</td>
                                <td>{{receipt.comment}}</td>
                              </tr>

                            </tbody>
                            <tfoot>

                              <tr style="background-color: lightgrey; border-top: 1px solid rgb(1, 1, 19);">
                                <th colspan="3">&nbsp;</th>
                                <td class="text-right">Grand Total:</td>
                                <th class="text-right">{{totalRecepitAmount | currency: 'INR'}}</th>
                                <th>&nbsp;</th>
                              </tr>
                              <tr style="background-color: lightgrey; border-top: 1px solid rgb(1, 1, 19);">
                                <th colspan="3">&nbsp;</th>
                                <td class="text-right">Total Discount:</td>
                                <th class="text-right">- &nbsp;{{allBillReceiptArray[0].total_discount | currency:
                                  'INR'}}
                                </th>
                                <th>&nbsp;</th>
                              </tr>
                              <tr>
                                <th>In Words:</th>
                                <td>:</td>
                                <th class="text-left">{{rupeeInWords}}</th>
                              </tr>
                              <tr style="background-color: lightgrey; border: 1px solid rgb(1, 1, 19);">
                                <th colspan="3">&nbsp;</th>
                                <td class="text-right">Current Due</td>
                                <th class="text-right">{{(allBillReceiptArray[0].total_course_fees -
                                  totalRecepitAmount)-
                                  allBillReceiptArray[0].total_discount |
                                  currency: 'INR'}}</th>
                                <th>&nbsp;</th>

                              </tr>
                            </tfoot>
                          </table>
                        </div>
                      </div>
                      <div class="row" style="font-size: small;">
                        <div class="col-7">
                          Notice:<p style="margin-bottom: 0 ;margin-top: 0 ; font-style: oblique; font-size: small;">1)
                            It
                            is Computer Generated Bill</p>
                          <p style="margin-bottom: 0 ;margin-top: 0 ;font-style: oblique;">2) Advanced Fees Cannot be
                            Refund.</p>

                        </div>
                        <div class="col-3 ">
                          <p class="text-right">Signature</p>
                          <p class="text-right">-----------------</p>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div mat-dialog-actions>
                    <button class="btn btn-danger" (click)="onClickedClosed()">Close</button>
                    <button class="btn btn-success" printSectionId="print-AllReceiptBill" printTitle="Develop By Ronit"
                      ngxPrint>Print</button>

                  </div>
                </div>
                <!-------------------------------end show Receipt bill voucher------------------------------------- -->
              </mat-tab>
            </mat-tab-group>

            <!-- Card Columns Example Social Feed-->


            <!-- /Card Columns-->
          </div>
          <div class="col-lg-4">
            <!-- Example Notifications Card-->
            <div class="card mb-3 shadow" style="height: 50vh;">
              <div class="card-header"
                style="background-image: linear-gradient(to bottom right, rgb(8, 2, 68), rgb(7, 32, 146)); color: aliceblue; border-radius: 5px; font-size: large;">
                <i class="bi bi-bell-fill"></i> Upcoming Due List
              </div>
              <div class="list-group list-group-flush" style="font-size:small ;">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">What's No</th>
                      <th scope="col">Tran Date</th>
                      <th scope="col">Days</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of upcomingDueListArray; let indexOfelement=index;">
                      <th scope="row">{{indexOfelement+1}}</th>
                      <td>{{item.student_name}}</td>
                      <td>{{item.whatsapp_number}}</td>
                      <td>{{item.transaction_date | date: 'dd/MM/yyyy'}}</td>
                      <td>{{item.date_Diff}}</td>
                    </tr>
                  </tbody>
                </table>
                <!--  <a class="list-group-item list-group-item-action" href="#">
                      <div class="media">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                        <div class="media-body">
                          <strong>David Miller</strong>posted a new article to
                          <strong>David Miller Website</strong>.
                          <div class="text-muted smaller">Today at 5:43 PM - 5m ago</div>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item list-group-item-action" href="#">
                      <div class="media">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                        <div class="media-body">
                          <strong>Samantha King</strong>sent you a new message!
                          <div class="text-muted smaller">Today at 4:37 PM - 1hr ago</div>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item list-group-item-action" href="#">
                      <div class="media">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                        <div class="media-body">
                          <strong>Jeffery Wellings</strong>added a new photo to the album
                          <strong>Beach</strong>.
                          <div class="text-muted smaller">Today at 4:31 PM - 1hr ago</div>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item list-group-item-action" href="#">
                      <div class="media">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
                        <div class="media-body">
                          <i class="fa fa-code-fork"></i>
                          <strong>Monica Dennis</strong>forked the
                          <strong>startbootstrap-sb-admin</strong>repository on
                          <strong>GitHub</strong>.
                          <div class="text-muted smaller">Today at 3:54 PM - 2hrs ago</div>
                        </div>
                      </div>
                    </a>
                    <a class="list-group-item list-group-item-action" href="#">View all activity...</a> -->
              </div>
              
            </div>
          </div>
        </div>
        <!----------------------->
        <div class="card-footer shadow" style="margin-top: 10px ; margin-bottom: 10px ; width:100%; background-color: rgb(246, 250, 250); margin-left: -10px;">
          <div class="row">
            <div class="col-sm-3 col-3">
              <div class="description-block" style="border-right: 2px solid rgb(119, 116, 116);">
                <!-- <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span> -->
                <h5 class="description-header"><b>TOTAL MONTHLY INCOME</b></h5>
                <span class="description-text">{{totalMonthlyIncome | currency:'INR'}}</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-3">
              <div class="description-block " style="border-right: 2px solid rgb(119, 116, 116);">
                <!-- <span class="description-percentage text-warning"><i class="fas fa-caret-left"></i> 0%</span> -->
                <h5 class="description-header"><b>TOTAL MONTHLY CASH</b></h5>
                <span class="description-text">{{totalMonthlyCash | currency:'INR'}}</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->

            <div class="col-sm-3 col-3">
              <div class="description-block" style="border-right: 2px solid rgb(119, 116, 116);">
                <!-- <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 20%</span> -->

                <h5 class="description-header"><b>TOTAL MONTHLY BANK </b></h5>
                <span class="description-text">{{totalMonthlyBank | currency:'INR'}}</span>
              </div>
              <!-- /.description-block -->
            </div>
            <!-- /.col -->
            <div class="col-sm-3 col-3">
              <div class="description-block">
                <!--  <span class="description-percentage text-danger"><i class="fas fa-caret-down"></i> 18%</span> -->
                <h5 class="description-header"><b>TOTAL YEARLY INCOME</b></h5>
                <span class="description-text">{{totalYearlyIncome | currency:'INR'}}</span>
              </div>
              <!-- /.description-block -->
            </div>
          </div>
          <!-- /.row -->
        </div>

        <!------------Student To Registration History-------------->
        <div class="p-3 flex-fill shadow" style="width:100% ;background-color: rgb(172, 176, 175);margin-left: -10px; ">

          <div class="p-2 bd-highlight mt-2">
            <i class="bi bi-person-circle mr-1" style="font-size: 30px"></i><span style="font-size:30px ;"> Student History Details</span>
            <p-table #studentRegistrationHistory [value]="studentRegistrationHistoryArray" dataKey="id" [paginator]="true" [rows]="5"
              [showCurrentPageReport]="true" responsiveLayout="scroll"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              [rowsPerPageOptions]="[5,10,25,50]" styleClass="p-datatable-striped"
              [globalFilterFields]="['ledger_name','full_name','effective_date']">

              <ng-template pTemplate="caption">
                <div class="flex">
                  <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                    (click)="clear(studentRegistrationHistory)"></button>
                    <span class="p-input-icon-left ml-auto">
                      <i class="pi pi-search"></i>
                      <input pInputText type="text" (input)="studentRegistrationHistory.filterGlobal(getEventValue($event), 'contains')" placeholder="Search keyword" />
                  </span>
                 
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th>ID</th>
                  <th pSortableColumn="ledger_id">Student Name <p-sortIcon field="ledger_name"></p-sortIcon>
                  </th>
                  <th pSortableColumn="course_id">Course Name <p-sortIcon field="full_name"></p-sortIcon>
                  </th>
                  <th>Contact No</th>
                  <th pSortableColumn="effective_date">Admission Date <p-sortIcon field="effective_date"></p-sortIcon>
                  </th>
                  <th pSortableColumn="is_completed">Is Complete <p-sortIcon field="is_completed"></p-sortIcon>
                  </th>
                  <th>Total Course Fees</th>
                  <th>Total Received</th>
                  <th>Total Due</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-course>

                <tr>
                  <td><button pButton class="p-button-rounded p-button-info p-button-outlined" (click)="onClickedReceiptVoucher(course.id)">
                    <i class="bi bi-printer">  </i>
                  </button></td>
                  <td>{{course.ledger_name}}</td>
                  <td>{{course.full_name}}</td>
                  <td>{{course.whatsapp_number}}</td>
                  <td>{{course.effective_date | date: 'dd/MM/yyyy'}}</td>
                  <td>{{course.is_completed}}</td>
                  <td>{{course.total_course_fees}}</td>
                  <td>{{course.total_received}}</td>
                  <td>{{course.total_due}}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="paginatorleft">
                <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
              </ng-template>
            </p-table>
          </div>

        </div>
        <!-- </div>
        </div>
        End Coding-->
      </div>
    </div>
  </div>
</div>