<!-- <p>bijoya-registration works!</p>


<div pFocusTrap>
    <h5>Input</h5>
    <input id="input" type="text" size="30" pInputText class="card">
</div>

<button pButton label="Toggle" pStyleClass="@next" toggleClass="p-disabled">test</button>
<input type="text" pInputText class="block mt-3"> -->
<div class="bg-dark">
    <form class="">
        <div class=" row m-1">
            <div class="form-group col-4 m-2">
                <label for="exampleInputEmail1">Name</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="validationTooltipUsernamePrepend"><i
                                class="bi bi-person-fill"></i></span>
                    </div>
                    <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Enter Your Name"
                        aria-describedby="validationTooltipUsernamePrepend" required>
                    <!-- <div class="invalid-tooltip">
                        Please choose a unique and valid username.
                    </div> -->
                </div>
            </div>
            <div class="form-group col-4 m-2">
                <label for="exampleInputEmail1">Email</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="validationTooltipUsernamePrepend"><i class="bi bi-envelope-fill"></i></span>
                    </div>
                    <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Enter Your Email"
                        aria-describedby="validationTooltipUsernamePrepend" required>
                    <!-- <div class="invalid-tooltip">
                        Please choose a unique and valid username.
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row m-1">
            <div class="form-group col-4 m-2">
                <label for="exampleInputEmail1">Contact Number</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="validationTooltipUsernamePrepend"><i class="bi bi-telephone-fill"></i></span>
                    </div>
                    <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Enter Your Contact Number"
                        aria-describedby="validationTooltipUsernamePrepend" required>
                    <!-- <div class="invalid-tooltip">
                        Please choose a unique and valid username.
                    </div> -->
                </div>
            </div>
            <div class="form-group col-4 m-2">
                <label for="exampleInputEmail1">Whatsapp Number</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="validationTooltipUsernamePrepend"><i class="bi bi-whatsapp"></i></span>
                    </div>
                    <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Enter Your Whatsapp Number"
                        aria-describedby="validationTooltipUsernamePrepend" required>
                    <!-- <div class="invalid-tooltip">
                        Please choose a unique and valid username.
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row m-1">
            <div class="form-group col-4 m-2">
                <label for="exampleInputEmail1">Telegram Number</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="validationTooltipUsernamePrepend"><i class="bi bi-telegram"></i></span>
                    </div>
                    <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Enter Your Telegram Number"
                        aria-describedby="validationTooltipUsernamePrepend" required>
                    <!-- <div class="invalid-tooltip">
                        Please choose a unique and valid username.
                    </div> -->
                </div>
            </div>
            <div class="form-group col-4 m-2">
                <label for="exampleInputEmail1">Member Number</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="validationTooltipUsernamePrepend"><i
                                class="bi bi-person-fill"></i></span>
                    </div>
                    <input type="number" class="form-control" id="validationTooltipUsername" min="1" value="1"
                        aria-describedby="validationTooltipUsernamePrepend" required>
                    <!-- <div class="invalid-tooltip">
                        Please choose a unique and valid username.
                    </div> -->
                </div>
            </div>
        </div>
    
        <!-- </div> -->
    
    
        
    </form>
    <button type="submit" class="btn btn-primary m-1">Submit</button>
</div>

