.function-prototype{
    color: gray;
  }

  .required-parameter{
    color: #015987;
  }
  .function-name{
    color: blueviolet;
  }
  .bracket{
    color: midnightblue;
  }

  .accordion-body{
    // background-color: #e9ecef;
    background-image: url("/assets/img/eduvenv.png");
    background-size: contain;
    padding: 5px;
    //max-width: 30vw;
    border-radius: 20px;
  }

  .p-accordion .p-accordion-header .p-accordion-header-link {
    padding: 1rem;
    border: 1px solid #dee2e6;
    color: #495057;
    background: #13497e !important;
    font-weight: 600;
    border-radius: 3px;
    transition: box-shadow 0.2s;
  }